<div id="navigation">
    <ul>
        <li><a href="">인사말</a></li>
        <li><a href="/board">자유게시판</a></li>
        <li><a href="">Q/A</a></li>
        <li><a href="">공지사항</a></li>
        <li><a href="">유저등급표</a></li>
        <li><a href="/json">AJAX 연습용</a></li>		
    </ul>
</div>