<div id="header">
    <h1 id="blog-title">JinsuJinsu의 배팅 블로그</h1>
    <ul>
        <li><a href="/user/join">회원가입</a></li>
        <li><a href="/user/login">로그인</a></li>
        <li><a href="/user/update">회원정보수정</a></li>
        <li><a href="/user/logout">로그아웃</a></li>
        <li>블로그에 오신 것을 환영합니다.</li>
    </ul>
</div>